<section>
  <h2 class="text-center my-4 my-xl-5">Promoções que estão bombando!</h2>
  <div class="container row mx-auto g-4">
    <div *ngFor="let product of products" class="col-12 col-md-6 col-xxl-4">
      <div class="card">
        <img src="{{ product.src }}" alt="{{ product.alt }}" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.description }}
          </p>
          <p class="card-price">R${{ product.price }},00</p>
          <button (click)="addProduct(product)" class="btn btn-primary">
            Comprar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
